a {
	all: unset;
}

/* Underline links, but not in headings or inside tables */
a:not(table a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	margin: 25px 0;
	font-family: sans-serif;
	min-width: 400px;
}

table thead tr {
	background-color: #709080;
	color: #fff;
	text-align: left;
}

table th, table td {
	padding: 12px 15px;
}

table tbody tr {
	border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
	background-color: light-dark(#eee, #111);
}

table tbody tr:last-of-type {
	border-bottom: 2px solid #709080;
}

table tbody tr:hover {
	color: #709080;
}

span.label {
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	margin-bottom: 4px;
	margin-right: 4px;
	padding: 5px;
	font-size: 0.9em;
}

.btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  border-radius: 12px;
  color: white; /* White text */
  font-size: 120%;
  padding: 10px 44px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  /* float: left; Float the buttons side by side */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
